*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

/* ExtravagantFooter.css */

.extravagant-footer {
  background-color: #222;
  color: #fff;
  padding: 50px 0;
}


.footer-text {
  font-size: 14px;
}

.footer-bottom-text {
  font-size: 12px;
  margin-top: 20px;
}

.footer-divider {
  border-top: 1px solid #888;
  margin-top: 30px;
  margin-bottom: 20px;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.social-icon:hover {
  color: #55acee; /* Change color on hover or as needed */
}

.productCard {
  min-height: 100%;
}

body {
  overflow-x: hidden;
}